body{
    font-family: sans-serif;
    background: #f7f7f7;
    padding: 40px;
}

/*①自動スライダー*/
.slider{
    width: 600px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    background: #ddd;
}

.slide{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background: #1a73e8;
    color: #fff;
}

.slide.active{
    display: flex;
}

/*②左右ボタン付きスライダー*/
.slider-btn{
    width: 600px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    background: #ddd;
}

.slide-btn{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background: #1a73e8;
    color: #fff;
}

.slide-btn.active{
    display: flex;
}

.prev, .next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
}

.prev{left: 10px;}
.next{right: 10px;}


/*ボタン付きスライダー*/
.slider-dot{
    width: 600px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    background: #ddd;
}

.slide-dot{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background: #1a73e8;
    color: #fff;
}

.slide-dot.active{
    display: flex;
}

.dots{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 10px;
}

.dot{
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
}

.dot.active{
    opacity: 1;
    background: #ff9800;
}

/*フェード付きスライダー*/
.slider-fade{
    width: 600px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    background: #ddd;
}

.slide-fade{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background: #1a73e8;
    color: #fff;
    opacity: 0;
    transition: opacity 0.8s ease;
}

.slide-fade.active{
    opacity: 1;
}